version: "3.8"

services:
  snapserver:
    container_name: snapserver
    depends_on:
      - mpd
    image: ghcr.io/chiefy/dockerfiles/snapcast-librespot:latest
    volumes:
      - "/mnt/Config/snapserver/snapserver.conf:/etc/snapserver.conf"
      - "/mnt/Config/snapserver/credentials.json:/data/librespot/credentials.json"
      - "snapfifo:/tmp/snapfifo:ro"
    environment:
      DEVICE_NAME: docker
    network_mode: host
    restart: always

  mpd:
    image: ghcr.io/chiefy/alpine-mpd:latest
    container_name: mpd
    ports:
      - "6600:6600"
    restart: always
    volumes:
      - /mnt/Config/mpd/mpd.conf:/etc/mpd.conf
      - /usr/share/mpd:/var/lib/mpd
      - /mnt/Config/mpd/playlists/:/var/lib/mpd/playlists
      - /mnt/Music:/mnt/Music:ro
      - snapfifo:/tmp/snapfifo

  mympd:
    image: ghcr.io/jcorporation/mympd/mympd
    container_name: mympd
    user: "0:100"
    ports:
      - "9999:80"
    environment:
      - UMASK_SET=022
      - MYMPD_SSL=false
      - MPD_HOST=mpd
      - MPD_PORT=6600
    volumes:
      - /mnt/Config/mpd/mympd/:/var/lib/mympd/
      - /tmp:/var/cache/mympd/
      - /mnt/Music/:/music/:ro
      - /mnt/Config/mpd/playlists/:/playlists/
    restart: unless-stopped

  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: "0:100"
    ports:
      - "4533:4533"
    restart: always
    environment:
      ND_BACKUP_PATH: "/backup"
      ND_BACKUP_SCHEDULE: "0 0 * * *"
      ND_BACKUP_COUNT: 5
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: "/"
      ND_TRANSCODINGCACHESIZE: "5GB"
      ND_IMAGECACHESIZE: "1GB"
      ND_ENABLEGRAVATAR: "true"
      ND_ENABLETRANSCODINGCONFIG: "false"
      ND_COVERARTPRIORITY: "embedded, front.*, cover.*, folder.*, external"
    volumes:
      - /mnt/Backup:/backup
      - /usr/share/navidrome:/data
      - /mnt/Music:/music:ro

volumes:
  snapfifo:
